#textdomain wesnoth-deception

[scenario]
    id=03_Dire_News
    name= _ "Dire News"
    next_scenario=04a_Bitter_Retreat
    # optional next scenario: 04b_Ambush
    map_data="{~add-ons/deception/maps/03_Dire_News.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {DAWN}

    {SCENARIO_MUSIC frantic.ogg}
    {EXTRA_SCENARIO_MUSIC siege-of-laurelmor.ogg}

    [story]
        [part]
            #ifhave ~add-ons/deception-ai-art
                background=story/103_peace.png
            #else
                # todo non-ai-art background
            #endif
            story= _ "The sun shone over the orcish realm, casting long shadows across the rugged landscape. Kalgor, now a seasoned warlord, had ascended from a pit of revenge to the pinnacles of power. His rule was marked with a wisdom born from struggle, and his decisions echoed with the interests of his tribe. He stood strong, a formidable pillar of orcish integrity. He had painted a vision of prosperity, a dream the tribe had dared to share."
        [/part]
        [part]
            #ifhave ~add-ons/deception-ai-art
                background=story/103_seasons_turning.png
            #else
                # todo non-ai-art background
            #endif
            story= _ "As seasons turned and moons waned, a subtle shift started to creep into Kalgor's leadership. His decisions were veering towards self-preservation, an increasing focus on his personal ambitions. His lust for power began to smudge the clear lines between his tribe's welfare and his own. He was still their leader, still their warrior, but the once unified path started to branch out, casting doubts on his motives."
        [/part]
        [part]
            #ifhave ~add-ons/deception-ai-art
                background=story/103_human_invasion.png
            #else
                # todo non-ai-art background
            #endif
            story= _ "One gloomy morning, an orc scout, out of breath and stained with the dust of distant lands, burst into Kalgor's stronghold."
        [/part]
    [/story]

    # Kalgor
    [side]
        side=1
        controller=human
        team_name=kalgor
        user_team_name= _ "Kalgor"
        color="blue"
        save_id=side_kalgor
        recruit=RPS Orcish Brawler,Orcish Grunt,Orcish Archer,RPS Orcish Shaman
        #ifdef EASY
            gold=900
        #endif
        #ifdef NORMAL
            gold=400
        #endif
        #ifdef HARD
            gold=340
        #endif

        # Orcish Scout reveal information about the upcoming human invasion
        [unit]
            id=orcish_scout
            type=RPS Orcish Scout
            name= _ "Orcish Scout"
            x=1
            y=10
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
    [/side]

    [event]
        name=prestart

        {PLACE_UNIT_KALGOR 1 17 18}
    [/event]

    [event]
        name=start

        {MOVE_UNIT id=orcish_scout 13 15}

        # Beginning conversation between Orcish Scout and Kalgor
        [message]
            speaker=orcish_scout
            message= _ "Boss Kalgor, we needs ta talk. Big news from the westies."
        [/message]
        [message]
            speaker=kalgor
            message= _ "What is it, scout? Spit it out."
        [/message]
        [message]
            speaker=orcish_scout
            message= _ "Humans! Lotso 'em. Lookin' like they's headed our way, boss. Got a feelin' in me bones, no good, no good."
        [/message]
        [message]
            speaker=kalgor
            message= _ "Humans? What kind of force are we talking about?"
        [/message]
        [message]
            speaker=orcish_scout
            message= _ "Ain't got the countin' right, boss. But they's many, and they's ready for a scuffle. Me thinks we's oughta be ready too."
        [/message]
        [message]
            speaker=kalgor
            message= _ "And we will be. Spread the word, we're marching west!"
        [/message]
        [message]
            speaker=orcish_scout
            message= _ "Righto, boss. If ya needs more talkin' 'bout this march westies, ya find me. I gots loads to spill."
        [/message]
        [message]
            speaker=kalgor
            message= _ "Very well. I'll speak to you soon."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "The war drums echoed, their rhythmic cadence signaling the march to a battle that would either cement his rule or shatter his vision."
        [/message]

        [message]
            speaker=unit
            message= _ "What insights can you give on the impending human invasion?"
        [/message]

        {VARIABLE scout_choice 0}

        [while]
            [variable]
                name=scout_choice
                numerical_equals=0
            [/variable]

            [do]
                [message]
                    speaker=kalgor

                    # Army composition
                    [option]
                        message= _ "Ask about the human army's composition."
                        [command]
                            [message]
                                speaker=kalgor
                                message= _ "Scout, give me more details. How does this human force look?"
                            [/message]
                            [message]
                                speaker=orcish_scout
                                message= _ "A right proper army, boss. Lotsa horse riders up front. Lancers an' swordsmen they are, quick and deadly. Behind 'em, foot soldiers and archers, ready to spill orc blood."
                            [/message]
                            [message]
                                speaker=kalgor
                                message= _ "Any sign of magic users?"
                            [/message]
                            [message]
                                speaker=orcish_scout
                                message= _ "Yep, boss. Seen 'em with my own peepers. Brown-robed fellas, glowy sticks an' all. Gonna be a tough scrap, they got heavy infantry supports too."
                            [/message]
                        [/command]
                    [/option]

                    # Terrain
                    [option]
                        message= _ "Ask about the terrain west to the orcish settlement."
                        [command]
                            [message]
                                speaker=kalgor
                                message= _ "What of the terrain? Where will we meet them?"
                            [/message]
                            [message]
                                speaker=orcish_scout
                                message= _ "It's mostly flatland, boss, dotted with forests here and there. But there's hills and mountains up north. Might be good for a getaway, if need be."
                            [/message]
                        [/command]
                    [/option]

                    # Allies (Trolls)
                    [option]
                        message= _ "Ask about signs of other tribes or living beings."
                        [command]
                            [message]
                                speaker=kalgor
                                message= _ "Is there any sign of other tribes or potential allies?"
                            [/message]
                            [message]
                                speaker=orcish_scout
                                message= _ "Yep, trolls been sighted, boss. Dunno if they's friend or foe. You'll have to do some of that fancy talkin' of yours."
                            [/message]
                            [message]
                                speaker=kalgor
                                message= _ "Indeed. I might just be able to sway them to our side."
                            [/message]
                        [/command]
                    [/option]

                    # Cancel conversation
                    [option]
                        message= _ "I have heard enough."
                        [command]
                            [message]
                                speaker=kalgor
                                message= _ "Very well. We will fight, and if need be, we will retreat. We're orcs, and we won't go down without a fight. Thank you, scout."
                            [/message]
                            [message]
                                speaker=orcish_scout
                                message= _ "Anytime, boss."
                            [/message]
                            {VARIABLE scout_choice 1}
                        [/command]
                    [/option]
                [/message]
            [/do]
        [/while]

        [message]
            speaker=kalgor
            [option]
                message= _ "Mobilize your army and march to the impending human forces."
                [command]
                    [endlevel]
                        result=victory
                        carryover_percentage=100
                        carryover_add=yes
                    [/endlevel]
                [/command]
            [/option]
            [option]
                message= _ "Prepare an ambush at the settlement's surrounding. <b>(WIP - results in the same next scenario as the first option)</b>"
                [command]
                    [endlevel]
                        result=victory
                        carryover_percentage=100
                        carryover_add=yes
                    [/endlevel]
                [/command]
            [/option]
        [/message]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=kalgor
        [/filter]
        [message]
            speaker=kalgor
            message= _ "How is this possible?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    # no objectives
[/scenario]
