#textdomain wesnoth-Deception

#define KALGOR_ATTACK_SWORD DAMAGE
    [attack]
        name=sword
        description= _ "sword"
        icon="attacks/sword-orcish.png"
        type=blade
        range=melee
        damage={DAMAGE}
        number=4
    [/attack]
#enddef
