#textdomain wesnoth-Deception

#define ABILITY_PROTECTOR
    [resistance]
        id=protector
        add=25
        max_value=75
        name= _ "protector"
        description= _ "Allies next to this unit take 25% less damage from all sources."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/resistance]
#enddef
