#textdomain wesnoth-Deception
[unit_type]
    id=Kalgor
    name="Kalgor"
    image="units/kalgor.png"
    image_icon="units/kalgor.png"
    profile="portraits/Kalgor_Adult.png"
    cost=-1 # Unit cannot be recruited
    #ifdef EASY
        experience=50
    #endif
    #ifdef NORMAL
        experience=70
    #endif
    #ifdef HARD
        experience=80
    #endif
    advances_to=null
    hitpoints=85
    level=3
    alignment=chaotic
    upkeep=0
    movement=6
    movement_type=orcishfoot
    num_traits=0
    race=orc
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=greatsword
        description= _ "greatsword"
        icon="attacks/greatsword-orcish.png"
        type=blade
        range=melee
        damage=19
        number=2
    [/attack]

    [attack]
        name=fury
        description= _ "fury"
        icon="attacks/frenzy.png"
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]

    #define KALGOR_ATTACK_BLADE_OF_DREAD
        name=blade_of_dread
        description= _ "Blade of Dread"
        icon="attacks/baneblade.png"
        type=blade
        range=melee
        damage=13
        number=3
    #enddef

    #define KALGOR_ATTACK_TENEBRIS_TOUCH
        name=tenebris_touch
        description= _ "Tenebris Touch"
        icon="attacks/touch-undead.png"
        type=arcane
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    #enddef

    #define KALGOR_ATTACK_RING_OF_DARKNESS
        name=ring_of_darkness
        description= _ "Ring of Darkness"
        icon="attacks/dark-missile.png"
        type=cold
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    #enddef

    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]

        start_time=-250

        [frame]
            image="units/kalgor-melee-[1~3].png:[150,250,150]"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=ring_of_darkness
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}

        start_time=-700

        [frame]
            image="units/kalgor-melee-1.png:50"
        [/frame]
        [frame]
            image="units/kalgor-defend.png:50"
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/frame]
        [frame]
            image="units/kalgor-melee-3.png:250"
        [/frame]

        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
    [/attack_anim]

    {DEFENSE_ANIM_RANGE "units/kalgor-defend.png" "units/kalgor-melee-1.png" {SOUND_LIST:ORC_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/kalgor-defend.png" "units/kalgor-melee-1.png" {SOUND_LIST:ORC_HIT} ranged}

    #define KALGOR_IDLE_ANIM_EVIL
        [idle_anim]
            {STANDARD_IDLE_FILTER}
            start_time=0
            [frame]
                duration=2310
                image="units/kalgor.png"
                halo=halo/undead/idle-flash-[1~21].png
                halo_x=6~-10,-10
                halo_y=-6~0,0
            [/frame]
        [/idle_anim]
    #enddef

    #define STANDARD_EFFECTS
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=4
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
        [effect]
            apply_to=status
            remove=dazed
        [/effect]
    #enddef

    [advancement]
        id=standard_advancement_1
        max_times=-1
        require_amla=leadership,endurance,endurance,strength,strength,strength
        {STANDARD_EFFECTS}
    [/advancement]

    [advancement]
        id=standard_advancement_2
        max_times=-1
        require_amla=leadership,endurance,endurance,strength,strength,strength,darkness,darkness
        {STANDARD_EFFECTS}
    [/advancement]

    [advancement]
        id=standard_advancement_3
        max_times=-1
        require_amla=leadership,endurance,endurance,strength,strength,strength,darkness,darkness,abyss,abyss
        {STANDARD_EFFECTS}
    [/advancement]

    [advancement]
        id=leadership
        description= _ "Leadership"
        image=items/sword-holy.png
        major_amla=yes
        {STANDARD_EFFECTS}
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_LEADERSHIP}
            [/abilities]
        [/effect]
    [/advancement]

    [advancement]
        id=endurance
        description= _ "Endurance"
        image=items/armor.png
        major_amla=yes
        max_times=2
        [effect]
            apply_to=hitpoints
            increase_total=20
        [/effect]
        {STANDARD_EFFECTS}
    [/advancement]

    [advancement]
        id=strength
        description= _ "Way of Strength"
        image=items/sword-2.png
        major_amla=yes
        #ifdef EASY
            max_times=4
        #else
            max_times=3
        #endif
        {STANDARD_EFFECTS}
        [effect]
            apply_to=attack
            name=greatsword
            increase_damage=2
        [/effect]
        [effect]
            apply_to=attack
            name=fury
            increase_damage=1
        [/effect]
        [effect]
            apply_to=attack
            name=blade_of_dread
            increase_damage=2
        [/effect]
        [effect]
            apply_to=attack
            name=ring_of_darkness
            increase_damage=2
        [/effect]
        [effect]
            apply_to=attack
            name=tenebris_touch
            increase_damage=2
        [/effect]
    [/advancement]

    #define KALGOR_ADVANCEMENT_ABYSS
        id=abyss
        description= _ "Delve the Abyss"
        image=scenery/whirlpool.png
        major_amla=yes
        max_times=2
        {STANDARD_EFFECTS}
        [effect]
            apply_to=attack
            name=tenebris_touch
            increase_attacks=1
        [/effect]
    #enddef

    #define KALGOR_ADVANCEMENT_DARKNESS
        id=darkness
        description= _ "Embrace the Darkness"
        image=items/ring-red.png
        major_amla=yes
        max_times=2
        {STANDARD_EFFECTS}
        [effect]
            apply_to=attack
            name=ring_of_darkness
            increase_damage=1
        [/effect]
        [effect]
            apply_to=attack
            name=ring_of_darkness
            increase_attacks=1
        [/effect]
    #enddef
[/unit_type]

#define KALGOR_CALCULATE_WEAPON_DAMAGE
    [store_unit]
        [filter]
            id=kalgor
        [/filter]
        variable=stored_kalgor
    [/store_unit]
    [set_variable]
        name=kalgor_damage_increase
        value=0
    [/set_variable]

    # Figure out base damage
    [foreach]
        array=stored_kalgor.attack
        index_var=i
        variable=this_attack
        [do]
            [if]
                [variable]
                    name=this_attack.name
                    equals=greatsword
                [/variable]
                [then]
                    [set_variable]
                        name=kalgor_damage_increase
                        value=$this_attack.damage
                    [/set_variable]
                    [set_variable]
                        name=kalgor_damage_increase
                        sub=19
                    [/set_variable]

                    # Break the loop once we've found the attack
                    [break]
                    [/break]
                [/then]
                [elseif]
                    [variable]
                        name=this_attack.name
                        equals=blade_of_dread
                    [/variable]
                    [then]
                        [set_variable]
                            name=kalgor_damage_increase
                            value=$this_attack.damage
                        [/set_variable]
                        [set_variable]
                            name=kalgor_damage_increase
                            sub=13
                        [/set_variable]

                        # Break the loop once we've found the attack
                        [break]
                        [/break]
                    [/then]
                [/elseif]
            [/if]
        [/do]
    [/foreach]
#enddef

#define KALGOR_ADD_BLADE_OF_DREAD
    {KALGOR_CALCULATE_WEAPON_DAMAGE}
    [set_variable]
        name=blade_of_dread_damage
        value=13
    [/set_variable]
    [set_variable]
        name=blade_of_dread_damage
        add=$kalgor_damage_increase
    [/set_variable]
    [modify_unit]
        [filter]
            id=kalgor
        [/filter]
        [object]
            silent=yes
            duration=forever
            [effect]
                apply_to=remove_attacks
                name=greatsword
            [/effect]
            [effect]
                apply_to=remove_attacks
                name=fury
            [/effect]
        [/object]
    [/modify_unit]
    [modify_unit]
        [filter]
            id=kalgor
        [/filter]
        [object]
            silent=yes
            duration=forever
            [effect]
                apply_to=new_attack
                {KALGOR_ATTACK_BLADE_OF_DREAD}
                damage=$blade_of_dread_damage
            [/effect]
        [/object]
    [/modify_unit]
    [clear_variable]
        name=blade_of_dread_damage
    [/clear_variable]
#enddef

#define KALGOR_ADD_RING_OF_DARKNESS
    {KALGOR_CALCULATE_WEAPON_DAMAGE}
    [set_variable]
        name=ring_of_darkness_damage
        value=5
    [/set_variable]
    [set_variable]
        name=ring_of_darkness_damage
        add=$kalgor_damage_increase
    [/set_variable]
    [modify_unit]
        [filter]
            id=kalgor
        [/filter]
        [object]
            silent=yes
            duration=forever
            [effect]
                apply_to=new_attack
                {KALGOR_ATTACK_RING_OF_DARKNESS}
                damage=$ring_of_darkness_damage
            [/effect]
            [effect]
                apply_to=new_advancement
                [advancement]
                    {KALGOR_ADVANCEMENT_DARKNESS}
                [/advancement]
            [/effect]
            [effect]
                apply_to=remove_advancement
                amlas=standard_advancement_1
            [/effect]
        [/object]
    [/modify_unit]
    [clear_variable]
        name=ring_of_darkness_damage
    [/clear_variable]
#enddef

#define KALGOR_ADD_TENEBRIS_TOUCH
    {KALGOR_CALCULATE_WEAPON_DAMAGE}
    [set_variable]
        name=tenebris_touch_damage
        value=10
    [/set_variable]
    [set_variable]
        name=tenebris_touch_damage
        add=$kalgor_damage_increase
    [/set_variable]
    [modify_unit]
        [filter]
            id=kalgor
        [/filter]
        [object]
            silent=yes
            duration=forever
            [effect]
                apply_to=new_attack
                {KALGOR_ATTACK_TENEBRIS_TOUCH}
                damage=$tenebris_touch_damage
            [/effect]
            [effect]
                apply_to=new_advancement
                [advancement]
                    {KALGOR_ADVANCEMENT_ABYSS}
                [/advancement]
            [/effect]
            [effect]
                apply_to=remove_advancement
                amlas=standard_advancement_1,standard_advancement_2
            [/effect]
        [/object]
    [/modify_unit]
    [clear_variable]
        name=tenebris_touch_damage
    [/clear_variable]
#enddef

#define KALGOR_TRANSFORM_GHOST
    [modify_unit]
        [filter]
            id=kalgor
        [/filter]
        [effect]
            apply_to=type
            name=Kalgor_Ghost
        [/effect]
    [/modify_unit]
#enddef

#define KALGOR_TRANSFORM_ORC
    [modify_unit]
        [filter]
            id=kalgor
        [/filter]
        [effect]
            apply_to=type
            name=Kalgor
        [/effect]
    [/modify_unit]
#enddef
